body {
    background: url("images/background.png") no-repeat center center fixed;
    font-family: Helvetica, Arial, Sans-Serif;
    margin: 0px;
    margin-bottom: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3a2613;
}

nav li {
    float: right;
}

nav li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
}

nav li a:hover:not(.active), .dropdown:hover:not(.active) .dropbtn:hover:not(.active) {
    background-color: #140d06;
}

nav li.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #603f1f;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    border-bottom:1px solid #d3d3d3;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown-content a:last-child {
    border-bottom: 0;
}

.dropdown-content a:hover {
    background-color: #140d06;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #4CAF50;
}

h1 {
    text-align: center;
    font-size: 3em;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    padding: 10px;
}